<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage persons</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage persons</h2></div>
    <div>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>patronymic</th>
                <th>surname</th>
                <th>birth date</th>
                <th>passport number</th>
                <th>email</th>
                <th>city list</th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>