<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class="container-fluid text-center">
    <div class="m-2">
        <a class="h3" th:href="@{/person/create}">Create person</a>
    </div>

    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">

            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Patronymic</th>
                <th>Surname</th>
                <th>Birth date</th>
                <th>Passport number</th>
                <th>Email</th>
                <th>City list</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="person: ${personList}">
                <tr>
                    <td>[[${person.id}]]</td>
                    <td>[[${person.name}]]</td>
                    <td>[[${person.patronymic}]]</td>
                    <td>[[${person.surname}]]</td>
                    <td>[[${person.birthDate}]]</td>
                    <td>[[${person.passportNumber}]]</td>
                    <td>[[${person.email}]]</td>
                    <td>[[${person.cityList}]]</td>
                    <td>
                        <a class="h4 m-3" th:href="@{'/person/update/'+${person.id}}">update</a>
                        <a class="h4" th:href="@{'/person/delete/'+${person.id}}">delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>

        </table>
    </div>
</div>

</body>
</html>